body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

form {
    background: white;
    padding: 45px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 333px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #954d38cc;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error {
    background: #f2dede;
    color: #a94442;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    text-align: center;
}
